<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Рады приветствовать на flashcards</h1>
    <p>
      У вас есть карточки для тренировки
    </p>
    <p>
      Проходите скорее и учите новые слова на
      https://agile-mountain-30456.herokuapp.com
    </p>
  </body>
</html>